.__footer {
    background: white;
    padding: 20px 0;
}
.footer_content {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #707070;
    .__link{
        font-weight: 500;
        color: #333333;
        cursor: pointer;
    }
}
