<div class="form-group">
    <label for="">These are Transmitted for</label>
    <input type="text" class="form-control" placeholder="Enter here">
</div>
<div class="form-group">
    <label for="">MFG</label>
    <input type="text" class="form-control" placeholder="Enter here">
</div>
<div class="form-group">
    <label for="">Part</label>
    <input type="text" class="form-control" placeholder="Enter here">
</div>
<div class="form-group">
    <label for="">Description</label>
    <input type="text" class="form-control" placeholder="Enter here">
</div>