<div class="chelsa_form_wrapper">
    <div class="container">
        <div class="__title pointer" [routerLink]="['/submittals/list']">
            <span [innerHTML]="icon['BACK_ICON']"></span>
            &nbsp; 
            New Submittal
        </div>
        <div class="steps_wrapper">
            <app-submittals-stepper [activeStep]=activeStep></app-submittals-stepper>
        </div>
        <app-submittals-form-step1 *ngIf="activeStep==1"></app-submittals-form-step1>
        <app-submittals-form-step2 *ngIf="activeStep==2"></app-submittals-form-step2>
    </div>
</div>