.__s_s_wrapper {
    .__t_b {
        border-bottom: 1px #dcdcdc solid;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding-bottom: 10px;
        span {
            display: inline-block;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: #333333;
            min-width: 84px;
            line-height: 40px;
            background: #eeeeee;
            border-radius: 4px 3px 0px 0px;
            text-align: center;
            &.editable {
                padding: 10px;
            }
        }
        .__right {
            ul li {
                margin-left: 10px;
            }
        }
    }
    .__filter {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 16px 0;
        flex-wrap: wrap;
        li{
            width: 25%;
            border: 1px red solid;

        }
    }
    .placehonder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #707070;
    }
    .__template_wrapper {
        .col-same-height {
            margin: 10px 0;
            .content {
                position: relative;
                .input_file {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    cursor: pointer;
                }
                ._img_wrap {
                    min-height: 200px;
                    background: #efefef;
                    border: 1px solid #d1d1d1;
                    border-radius: 4px;
                    padding: 4px;
                    position: relative;
                    cursor: pointer;
                    .__overlay {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                        background: rgba(0, 0, 0, 0.5);
                        border-radius: 4px;
                        padding: 10px;
                        display: none;
                        ._view {
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                    img {
                        border-radius: 4px;
                    }
                    &:hover {
                        .__overlay {
                            display: block;
                        }
                    }
                }
                p {
                    margin: 0px;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #333333;
                }

                .__size {
                    color: #707070;
                }
                .__info {
                    margin-left: 30px;
                }
            }
        }
    }
}

.template_img {
    width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
}

.new_tile {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
    cursor: pointer;
    height: 173px;
    .placehonder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #707070;
    }
    .seprator {
        position: relative;
        width: 100%;
        text-align: center;
        &::after {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            content: "";
            width: 100%;
            height: 1px;
            background: #d9d9d9;
        }
        span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            color: #707070;
            position: relative;
            z-index: 1;
            background: white;
            display: inline-block;
            padding: 10px;
        }
    }
}

.rotate_180{
    transform: rotate(180deg);
}
.list_icon{
    margin-left: 0px!important;
    a{
        display: flex;
        align-items: center;
        .icon_block{
            display: inline-block;
            width: 30px;
            text-align: left;
            background: transparent;
            i{
                font-size: 24px;
            }
        }
        &:hover .icon_block, &:focus .icon_block{
            background: #e9ecef;
        }
    }
    
}

.dropdown-item.active, .dropdown-item:active{
    background: transparent;
}