<form [formGroup]="submittalDetailForm" autocomplete="off" novalidate>
    <div class="form_wrapper row-same-height row">
        <div class="col-same-height col-sm-7">
            <div class="content __cell __left">
                <div class="__b_p form-control _placeholder form-group">
                    <label for="" class="__dark">Chelsea Address</label>
                    <div class="row-same-height __address_grid">
                        <div class="col-same-height" *ngFor="let item of addressMaster">
                            <div class="content __a_list" (click)="selectAddress(item)">
                                <span class="__r_btn {{item.id==entity.addressId?' checked':''}}"></span>
                                <div class="__a_c">
                                    <p class="__title">
                                        <strong>{{item.name}}</strong>
                                    </p>
                                    <p class="__address">{{item.address}}, {{item.state}}, {{item.city}}
                                        {{item.zipCode}}</p>
                                    <p class="__contact"><strong>Phone:</strong> {{item.phone}}</p>
                                    <p class="__contact"><strong>Fax:</strong> {{item.fax}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input type="hidden" placeholder="Enter here" formControlName="addressId">
                    <div class="msgError text-danger"
                        *ngIf="formControl.addressId.invalid && (formControl.addressId.dirty || submitted)">
                        <small class="text-danger" *ngIf="formControl.addressId.hasError('required')">
                            Required Field.
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Submittal Date <span class="required text-danger">*</span></label>
                            <p-calendar formControlName="submittalDate" placeholder="mm/dd/yy" dateFormat="mm/dd/yy"
                                [showIcon]="true"></p-calendar>
                            <div class="msgError text-danger"
                                *ngIf="formControl.submittalDate.invalid && (formControl.submittalDate.dirty || submitted)">
                                <small class="text-danger" *ngIf="formControl.submittalDate.hasError('required')">
                                    Required Field.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Job Name <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter here" formControlName="jobName"
                                maxlength="100">
                            <div class="msgError text-danger"
                                *ngIf="formControl.jobName.invalid && (formControl.jobName.dirty || submitted)">
                                <small class="text-danger" *ngIf="formControl.jobName.hasError('required')">
                                    Required Field.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Submittal # <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter here"
                                formControlName="submittals" maxlength="50">
                            <div class="msgError text-danger"
                                *ngIf="formControl.submittals.invalid && (formControl.submittals.dirty || submitted)">
                                <small class="text-danger" *ngIf="formControl.submittals.hasError('required')">
                                    Required Field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="__dark">Project Manager</label>
                    <div class="form-control" formGroupName="projectManager">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Project Manager Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="name" maxlength="100">
                                    <!-- <div class="msgError text-danger"
                                        *ngIf="submittalDetailForm.get('projectManager.name').invalid && (submittalDetailForm.get('projectManager.name').dirty || submitted)">
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.name').hasError('required')">
                                            Required Field.
                                        </small>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <p-inputMask mask="(999) 999-9999" formControlName="phone"
                                        placeholder="(999) 999-9999">
                                    </p-inputMask>
                                    <!-- <div class="msgError text-danger"
                                        *ngIf="submittalDetailForm.get('projectManager.phone').invalid && (submittalDetailForm.get('projectManager.phone').dirty || submitted)">
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.phone').hasError('required')">
                                            Required Field.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.phone').hasError('pattern')">
                                            Invalid Phone Number.
                                        </small>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="email" maxlength="100">
                                    <div class="msgError text-danger"
                                        *ngIf="submittalDetailForm.get('projectManager.email').invalid && (submittalDetailForm.get('projectManager.email').dirty || submitted)">
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.email').hasError('pattern')">
                                            Invalid Email.
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="__dark">Contractor</label>
                    <div class="form-control" formGroupName="contractor">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Contractor Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="name" maxlength="100">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Address Line 1</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="addressLine1" maxlength="200">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Address Line 2</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="addressLine2" maxlength="200">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">State</label>
                                    <div class="__custom_select">
                                        <select class="form-control" (change)="selectState()" name="contractor"
                                            formControlName="stateId">
                                            <option value="0">Select</option>
                                            <option value="{{item.id}}" *ngFor="let item of stateMaster">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">City</label>

                                    <div class="ng-autocomplete">
                                        <ng-autocomplete [data]="cityMaster" [searchKeyword]="keyword"
                                            formControlName="city" placeholder="Enter the Country Name"
                                            (selected)='selectEvent($event)' (inputChanged)='onChangeSearch($event)'
                                            (inputFocused)='onFocused($event)' historyIdentifier="countries"
                                            [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                        </ng-autocomplete>

                                        <ng-template #itemTemplate let-item>
                                            <a [innerHTML]="item.name"></a>
                                        </ng-template>

                                        <ng-template #notFoundTemplate let-notFound>
                                            <div [innerHTML]="notFound"></div>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Zip</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="postalCode" maxlength="6" digitOnly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="">These are Transmitted for</label>
                    <div class="flex v_center">
                        <div class="field-radiobutton flex v_center">
                            <p-radioButton inputId="Approval" formControlName="status" value="Approval">
                            </p-radioButton>
                            <label class="_ml_10 mb_0 pointer" for="Approval">Approval</label>
                        </div>
                        <div class="field-radiobutton flex v_center pointer">
                            <p-radioButton inputId="Record" class="_ml_10" formControlName="status" value="Record">
                            </p-radioButton>
                            <label class="_ml_10 mb_0 pointer" for="Record">Record</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-same-height col-sm-5">
            <div class="content __cell __right">
                <div class="__c_p form-group">
                    <label for="" class="__dark">Cover Page Preview</label>
                    <div class="preview_wrapper" id="contentToConvert">
                        <app-submittals-preview-content [formValueOne]=submittalDetailForm.value>
                        </app-submittals-preview-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="action_wrapper">
        <button class="btn __btn __theme" (click)="handleSubmit()">Save & Next</button>
        <button class="btn __btn __default" [routerLink]="['/submittals/list']">Cancel</button>
    </div>
</form>


<p-toast position="top-center" key="detailFormToast"></p-toast>