<form [formGroup]="submittalDetailForm" autocomplete="off" novalidate>
    <div class="form_wrapper row-same-height row">
        <div class="col-same-height col-sm-8">
            <div class="content __cell __left">
                <div class="__b_p form-control _placeholder form-group">
                    <label for="" class="__dark">Chelsea Address</label>
                    <div class="row-same-height __address_grid">
                        <div class="col-same-height" *ngFor="let item of addressMaster">
                            <div class="content __a_list" (click)="selectAddress(0, item)">
                                <span class="__r_btn {{item.isPrimary?' checked':''}}"></span>
                                <div class="__a_c">
                                    <p class="__title">
                                        <strong>{{item.name}}</strong>
                                    </p>
                                    <p class="__address">{{item.address}}, {{item.state}}, {{item.city}}
                                        {{item.zipCode}}</p>
                                    <p class="__contact"><strong>Phone:</strong> {{item.phone}}</p>
                                    <p class="__contact"><strong>Fax:</strong> {{item.fax}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <input type="hidden" placeholder="Enter here" formControlName="addressId">
                    <div class="msgError text-danger"
                        *ngIf="formControl.addressId.invalid && (formControl.addressId.dirty || submitted)">
                        <small class="text-danger" *ngIf="formControl.addressId.hasError('required')">
                            Required Field.
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Submittal Date <span class="required text-danger">*</span></label>
                            <p-calendar formControlName="submittalDate" placeholder="dd/mm/yy" dateFormat="dd/mm/yy"
                                [showIcon]="true"></p-calendar>
                            <div class="msgError text-danger"
                                *ngIf="formControl.submittalDate.invalid && (formControl.submittalDate.dirty || submitted)">
                                <small class="text-danger" *ngIf="formControl.submittalDate.hasError('required')">
                                    Required Field.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Job Name <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter here" formControlName="jobName">
                            <div class="msgError text-danger"
                                *ngIf="formControl.jobName.invalid && (formControl.jobName.dirty || submitted)">
                                <small class="text-danger" *ngIf="formControl.jobName.hasError('required')">
                                    Required Field.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="">Submittal # <span class="required text-danger">*</span></label>
                            <input type="text" class="form-control" placeholder="Enter here"
                                formControlName="submittals">
                            <div class="msgError text-danger"
                                *ngIf="formControl.submittals.invalid && (formControl.submittals.dirty || submitted)">
                                <small class="text-danger" *ngIf="formControl.submittals.hasError('required')">
                                    Required Field.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="__dark">Project Manager</label>
                    <div class="form-control" formGroupName="projectManager">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Project Manager Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="name">
                                    <!-- <div class="msgError text-danger"
                                        *ngIf="submittalDetailForm.get('projectManager.name').invalid && (submittalDetailForm.get('projectManager.name').dirty || submitted)">
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.name').hasError('required')">
                                            Required Field.
                                        </small>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Phone</label>
                                    <p-inputMask mask="(999) 999-9999" formControlName="phone" placeholder="(999) 999-9999">
                                    </p-inputMask>
                                    <!-- <div class="msgError text-danger"
                                        *ngIf="submittalDetailForm.get('projectManager.phone').invalid && (submittalDetailForm.get('projectManager.phone').dirty || submitted)">
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.phone').hasError('required')">
                                            Required Field.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.phone').hasError('pattern')">
                                            Invalid Phone Number.
                                        </small>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="email">
                                    <!-- <div class="msgError text-danger"
                                        *ngIf="submittalDetailForm.get('projectManager.email').invalid && (submittalDetailForm.get('projectManager.email').dirty || submitted)">
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.email').hasError('required')">
                                            Required Field.
                                        </small>
                                        <small class="text-danger"
                                            *ngIf="submittalDetailForm.get('projectManager.email').hasError('pattern')">
                                            Invalid Email.
                                        </small>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="__dark">Contractor</label>
                    <div class="form-control" formGroupName="contractor">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Contractor Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="name">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Address Line 1</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="addressLine1">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Address Line 2</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="addressLine2">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">State</label>
                                    <div class="__custom_select">
                                        <select class="form-control" (change)="selectState()" name="contractor"
                                            formControlName="state">
                                            <option value="">Select</option>
                                            <option value="{{item.id}}" *ngFor="let item of stateMaster">{{item.name}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">City</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="city">
                                    <!-- <div class="__custom_select">
                                        <select class="form-control" formControlName="city" (change)="selectCity()">
                                            <option value="">Select</option>
                                            <option value="{{item.id}}" *ngFor="let item of cityMaster">{{item.name}}
                                            </option>
                                        </select>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="">Zip</label>
                                    <input type="text" class="form-control" placeholder="Enter Here"
                                        formControlName="postalCode" digitOnly>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-same-height col-sm-4">
            <div class="content __cell __right">
                <div class="__c_p form-group">
                    <label for="" class="__dark">Cover Page Preview</label>
                    <div class="preview_wrapper" id="contentToConvert">
                        <app-submittals-preview-content [formValueOne]=submittalDetailForm.value>
                        </app-submittals-preview-content>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="action_wrapper">
        <!-- [routerLink]="['/submittals/form/add/0/step/2']" -->
        <button class="btn __btn __theme" (click)="handleSubmit()">Save & Next</button>
        <button class="btn __btn __default" [routerLink]="['/submittals/list']">Cancel</button>
    </div>
</form>


<p-toast position="top-center" key="detailFormToast"></p-toast>