.preview_page_wrapper {
    .__preview_content {
        border: 1px #d1d1d1 solid;
        padding: 45px 30px;
        background: white;
    }
    .__title_wrap {
        margin-bottom: 16px;
    }
    .__title {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        color: #333333;
        display: flex;
        align-items: center;
        svg {
            margin-right: 10px;
        }
    }
    .__tools {
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(219, 220, 223, 0.6);
        border-radius: 35px;
        padding: 6px;
    }
}
