<div class="submittals_wrapper">
    <div class="container">
        <div class="tabie_wrapper">
            <div class="__t_top">
                <div class="__t_itms">
                    Showing 10 of 20 Submittals
                </div>
                <div class="_t_right">
                    <div class="_t_sarch">
                        <input type="text" class="search_input" placeholder="Search" [(ngModel)]="searchText">
                        <img (click)="this.searchList()" class="search-icon"
                            src="../../../assets/images/search_icon.png" alt="search icon" />
                    </div>
                    <button type="button" class="__a_btn __b">Submittals</button>
                    <button [routerLink]="['/submittals/form/add/0/step/1']" type="button" class="__a_btn __w">New
                        Submittals</button>
                </div>
            </div>
            <div class="__t_content">
                <table class="__chelsea_tbl __submittals_table">
                    <thead>
                        <tr>
                            <th>Output Submittals</th>
                            <th># of Types</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of list">
                            <td>
                                <div class="flex">
                                    <img class="__t_img" src="../../../assets/images/{{item.thumbnail}}" onError="this.src='../../../../../assets/images/placeholder.png'"  alt="">
                                    <div class="__info">
                                        <p class="item_name">{{item.fileName}}</p>
                                        <p class="__size" *ngIf="item.fileSize>0">{{item.fileSize}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p>
                                    {{item.submittalCount}}
                                </p>
                            </td>
                            <td>
                                <p class="__name">{{item.firstName}} {{item.lastName}}</p>
                            </td>
                            <td>
                                <p class="__date">{{item.createdDate | date:'MM/d/yyyy' }}</p>
                            </td>
                            <td class="action-cell">
                                <span class="__a_cta">
                                    <svg width="19" height="22" viewBox="0 0 19 22" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.8749 18.1C5.3249 18.1 4.85407 17.9042 4.4624 17.5125C4.07074 17.1208 3.8749 16.65 3.8749 16.1V2.35C3.8749 1.81667 4.07074 1.35417 4.4624 0.9625C4.85407 0.570833 5.3249 0.375 5.8749 0.375H16.6249C17.1582 0.375 17.6207 0.570833 18.0124 0.9625C18.4041 1.35417 18.5999 1.81667 18.5999 2.35V16.1C18.5999 16.65 18.4041 17.1208 18.0124 17.5125C17.6207 17.9042 17.1582 18.1 16.6249 18.1H5.8749ZM5.8749 16.1H16.6249V2.35H5.8749V16.1ZM2.3749 21.575C1.84157 21.575 1.37907 21.3792 0.987402 20.9875C0.595736 20.5958 0.399902 20.1333 0.399902 19.6V5.625C0.399902 5.35833 0.495736 5.12917 0.687402 4.9375C0.879069 4.74583 1.11657 4.65 1.3999 4.65C1.68324 4.65 1.91657 4.74583 2.0999 4.9375C2.28324 5.12917 2.3749 5.35833 2.3749 5.625V19.6H13.1249C13.3916 19.6 13.6207 19.6958 13.8124 19.8875C14.0041 20.0792 14.0999 20.3167 14.0999 20.6C14.0999 20.8833 14.0041 21.1167 13.8124 21.3C13.6207 21.4833 13.3916 21.575 13.1249 21.575H2.3749ZM5.8749 2.35V16.1V2.35Z"
                                            fill="#333333" />
                                    </svg>

                                </span>
                                <span class="__a_cta">
                                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="16" cy="16" r="16" transform="rotate(90 16 16)" fill="#EEEEEE" />
                                        <path
                                            d="M23.8998 11.475L20.6248 8.2L21.6248 7.2C21.9415 6.88334 22.329 6.72917 22.7873 6.7375C23.2456 6.74584 23.6415 6.90834 23.9748 7.225L24.9248 8.15C25.2581 8.48334 25.4123 8.875 25.3873 9.325C25.3623 9.775 25.1915 10.1583 24.8748 10.475L23.8998 11.475ZM7.9248 25.175C7.64147 25.175 7.40397 25.0792 7.2123 24.8875C7.02064 24.6958 6.9248 24.4583 6.9248 24.175V22.3C6.9248 22.1833 6.9498 22.0667 6.9998 21.95C7.0498 21.8333 7.1248 21.725 7.2248 21.625L19.5748 9.25L22.8498 12.5L10.4998 24.875C10.3831 24.975 10.2665 25.05 10.1498 25.1C10.0331 25.15 9.90814 25.175 9.7748 25.175H7.9248Z"
                                            fill="#333333" />
                                    </svg>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p-paginator [rows]="limit" [totalRecords]="20" (onPageChange)="paginate($event)">
                </p-paginator>
            </div>
        </div>
    </div>
</div>