<div class="container-fluid">
    <div class="preview_page_wrapper">
        <div class="preview-form">
            <div class="pointer flex v_center toolbar-top" (click)="handleBack()">
                <span class="inherit" [innerHTML]="icon['BACK_ICON']"></span>
                &nbsp; &nbsp;
                <span class="pdf_name">
                    {{dialogConfig['pdfFiles'] && dialogConfig['pdfFiles']['name']}}

                    <span *ngIf="dialogConfig['pdfFiles'] && dialogConfig['pdfFiles']['files']['orgFileName']">
                        ({{(dialogConfig['pdfFiles']['files']['orgFileName'].length>50)?
                        (dialogConfig['pdfFiles']['files']['orgFileName'] |
                        slice:0:50)+'..':(dialogConfig['pdfFiles']['files']['orgFileName']) }})
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid relative pdfAction">
    <div #viewer2 class="viewer_dialog mt20"></div>
</div>