<div class="container">
    <div class="preview_page_wrapper">
        <div class="preview-form">
            <div class="pointer flex v_center toolbar-top" (click)="handleBack()">
                <span [innerHTML]="icon['BACK_ICON']"></span>
                &nbsp; &nbsp;
                <span class="pdf_name">
                    {{submittal && submittal.files &&
                    submittal.files.orgFileName}}
                </span>
                <button type="button" class="btn __btn __default" (click)="handleSaveAction()">Save</button>
            </div>
            <ul class="row">
                <li class="col-sm-3">
                    <div class="form-group">
                        <label for="">Manufacturer</label>
                        <input type="text" class="form-control" placeholder="Enter here" name='mfg'
                            [(ngModel)]="submittal['mfg']" #mfg="ngModel" (ngModelChange)="modelChanged($event)">
                    </div>
                </li>
                <li class="col-sm-3">
                    <div class="form-group">
                        <label for="">Part</label>
                        <input type="text" class="form-control" placeholder="Enter here" name='part'
                            [(ngModel)]="submittal['part']" #part="ngModel" (ngModelChange)="modelChanged($event)">
                    </div>
                </li>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="">Description</label>
                        <input type="text" class="form-control" placeholder="Enter here" name='description'
                            [(ngModel)]="submittal['description']" #description="ngModel"
                            (ngModelChange)="modelChanged($event)">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">Voltage</label>
                        <input type="text" class="form-control" placeholder="Enter here" name='volt'
                            [(ngModel)]="submittal['volt']" #volt="ngModel" (ngModelChange)="modelChanged($event)">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">LAMP</label>
                        <input type="text" class="form-control" placeholder="Enter here" name='lamp'
                            [(ngModel)]="submittal['lamp']" #lamp="ngModel" (ngModelChange)="modelChanged($event)">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label for="">DIM</label>
                        <input type="text" class="form-control" placeholder="Enter here" name='dim'
                            [(ngModel)]="submittal['dim']" #dim="ngModel" (ngModelChange)="modelChanged($event)">
                    </div>
                </div>
                <div class="col-sm-3        ">
                    <div class="form-group">
                        <label for="">RUNS</label>
                        <input type="text" class="form-control" placeholder="Enter here" name='runs'
                            [(ngModel)]="submittal['runs']" #runs="ngModel" (ngModelChange)="modelChanged($event)">
                    </div>
                </div>
            </ul>
            <div class="form-group">
                <button class="btn __btn __theme" (click)="handleUpdateDetail()">Update</button>
            </div>
        </div>
        <!-- <div class="__preview_content">
            <div>
                <pdf-viewer
                    [src]="pdfActionConfig && pdfActionConfig['config'] && pdfActionConfig['config']['previewUrl']"
                    [rotation]="0" [original-size]="false" [show-all]="true" [fit-to-page]="false" [zoom]="1"
                    [zoom-scale]="'page-width'" [stick-to-page]="false" [render-text]="true"
                    [external-link-target]="'blank'" [autoresize]="true" [show-borders]="false"
                    style="width: 100%; height: 82vh; overflow-x: hidden;">
                </pdf-viewer>
            </div>
            
        </div> -->
    </div>
</div>

<div class="container-fluid relative pdfAction">
    <div #viewer2 class="viewer_dialog mt20"></div>
</div>

<p-toast position="top-center" key="pdfEditorToast"></p-toast>