<div class="container">
    <div class="preview_page_wrapper">
        <div class="preview-form">
            <div class="pointer flex v_center toolbar-top" (click)="handleBack()">
                <span [innerHTML]="icon['BACK_ICON']"></span>
                &nbsp; &nbsp;
                <span class="pdf_name">
                    {{submittal && submittal.files &&
                    submittal.files.orgFileName}}
                </span>
                <button type="button" class="btn __btn __default" (click)="handleSaveAction()">Save</button>
            </div>
            <ul class="row">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Manufacturer</label>
                                <input type="text" class="form-control" placeholder="Enter here" name='mfg'
                                    [(ngModel)]="submittal['mfg']" #mfg="ngModel"
                                    (ngModelChange)="modelChanged($event)">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Part#</label>
                                <input type="text" class="form-control" placeholder="Enter here" name='part'
                                    [(ngModel)]="submittal['part']" #part="ngModel"
                                    (ngModelChange)="modelChanged($event)">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Voltage</label>
                                <input type="text" class="form-control" placeholder="Enter here" name='volt'
                                    [(ngModel)]="submittal['volt']" #volt="ngModel"
                                    (ngModelChange)="modelChanged($event)">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Lamp</label>
                                <input type="text" class="form-control" placeholder="Enter here" name='lamp'
                                    [(ngModel)]="submittal['lamp']" #lamp="ngModel"
                                    (ngModelChange)="modelChanged($event)">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Dim</label>
                                <input type="text" class="form-control" placeholder="Enter here" name='dim'
                                    [(ngModel)]="submittal['dim']" #dim="ngModel"
                                    (ngModelChange)="modelChanged($event)">
                            </div>
                        </div>
                        <div class="col-sm-4        ">
                            <div class="form-group">
                                <label for="">Runs</label>
                                <input type="text" class="form-control" placeholder="Enter here" name='runs'
                                    [(ngModel)]="submittal['runs']" #runs="ngModel"
                                    (ngModelChange)="modelChanged($event)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="">Description</label>
                        <textarea class="form-control text-area" placeholder="Enter here" name='description'
                            [(ngModel)]="submittal['description']" #description="ngModel"
                            (ngModelChange)="modelChanged($event)">

                    </textarea>
                    </div>
                </div>
            </ul>
            <div class="form-group">
                <button class="btn __btn __theme" (click)="handleUpdateDetail()">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid relative pdfAction">
    <div #viewer2 class="viewer_dialog mt20"></div>
</div>

<p-toast position="top-center" key="pdfEditorToast"></p-toast>