.ng-autocomplete {
  width: 100% !important;
  display: table;
  margin: 0 auto;

  .autocomplete-container {
    height: 32px;
    box-shadow: none !important;
    outline: none !important;
  }

  .autocomplete-container .input-container input {
    height: 32px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #dbdcdf;
    border-radius: 4px;
    padding-right: 35px;
  }
}
.p-button {
  color: #333;
  background: transparent;
  border: 1px solid #dbdcdf;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
}
.p-button:hover {
  color: #fff !important;
  background: #e8442d !important;
  border-color: #dbdcdf !important;
}
.cityname .autocomplete-container .input-container div .material-icons{display:none;}
.preview_wrapper p{margin-bottom: 0.3rem;}
.p-paginator {
  
  justify-content: end !important;
}

.texthide {
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  padding-left: 3px;
}
.texthide:hover {
  overflow: visible;
  white-space: normal;
}
.titletext {
  font-size: 16px;
  color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.titletext h5{
  font-size: 16px;
  color: #333333;
}
.spacefix {
  padding-left: 20px;
  padding-right: 20px;
}
.custom-drop .form-control {
  -webkit-appearance: auto;
  appearance: auto;
  font-size: 14px;
  border-radius: 15px;
}
.custom-drop .dropdown:hover .dropdown-menu {
    display:block;
}
.custom-drop .btn-default {
  background: #ffffff;
  border: 1px solid #333333;
  padding: 6px 14px;
  color: #333333;
  border-radius: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
