@import "~ng-pick-datetime/assets/style/picker.min.css";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none !important;
    font-family: "Roboto";
}
html {
    overflow: hidden;
}
body {
    background: #f9f9f9;
}
html,
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    min-height: 100vh;
    height: 100vh;
}
body {
    overflow: auto;
}
.main_contaner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .__page_content {
        overflow-x: hidden;
        padding: 10px 0;
        flex-grow: 2;
        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    }
}

ul,
ul li,
ol,
ol li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
.table > :not(:first-child) {
    border: 0px;
}
.__chelsea_tbl {
    width: 100%;
    border-collapse: collapse;
    th {
        border-top: 1px #9cc3e2 solid;
        border-bottom: 1px #9cc3e2 solid;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #707070;
        padding: 5px;
        vertical-align: top;
    }
    td {
        border-top: 1px #9cc3e2 solid !important;
        border-bottom: 1px #9cc3e2 solid;
        padding: 10px 5px;
        vertical-align: top;
    }
}
.flex {
    display: flex;
}

.row-same-height {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.row-same-height.no-wrap {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
}

.row-same-height .col-same-height {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.row-same-height .col-same-height .content {
    width: 100%;
}
.form-control {
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #dbdcdf;
    &:focus {
        box-shadow: none !important;
        outline: none !important;
        border: 1px solid #dbdcdf;
    }
}
.form-control._placeholder {
    padding: 15px;
}
.form-group {
    margin-bottom: 25px;
    position: relative;
    .msgError {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        white-space: normal;
    }
    label {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #707070;
        margin-bottom: 5px;
        &.mb_0 {
            margin-bottom: 0px;
        }
        &.__dark {
            font-weight: 600;
            color: #333333;
            margin-bottom: 8px;
        }
    }
    .form-control {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #333333;
    }
}

.__custom_select {
    position: relative;
    &::after {
        position: absolute;
        right: 2px;
        top: 1px;
        width: 28px;
        height: 28px;
        content: "";
        pointer-events: none;
        background: url("./assets/images/select_arrow.svg") white center center no-repeat;
    }
}
.action_wrapper {
    margin-top: 20px;
    padding-top: 20px;
    background: #f9f9f9;
    box-shadow: 0px -1px 0px #dbdcdf;
    border-radius: 0px 0px 8px 8px;
    .__btn {
        margin-right: 10px;
        padding: 6px 14px;
        &:last-child {
            margin-right: 0px;
        }
    }
}
.__btn {
    height: 32px;
    border-radius: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}
.__theme {
    background: #e8442d;
    border: 1px solid #e8442d;
    color: #ffffff;
    &:hover {
        color: white;
    }
}
.__default {
    background: #ffffff;
    border: 1px solid #333333;
    color: #333333;
    &:hover {
        color: #333333;
    }
}
.__gray {
    background: #eeeeee;
    border: 1px solid #eeeeee;
    color: #333333;
    &:hover {
        color: #333333;
    }
}

.pointer {
    cursor: pointer;
}

.steps_wrapper {
    max-width: 600px;
    margin: 0px auto;
}

.v_center {
    align-items: center;
}
.space_between {
    justify-content: space-between;
}
._ml_10 {
    margin-left: 10px;
}
._ml_25 {
    margin-left: 25px;
}

.p-checkbox {
    .p-checkbox-box.p-highlight {
        background: #e8442d !important;
        border: 1px #e8442d solid !important;
        box-shadow: none !important;
        outline: none !important;
    }
    &:not(.p-checkbox-disabled) {
        .p-checkbox-box {
            &:hover {
                border: 1px #e8442d solid !important;
            }
        }
        .p-checkbox-box.p-focus {
            box-shadow: none !important;
        }
    }
}

.text-left {
    text-align: left;
}

.p-dialog-footer {
    border-top: 1px solid #dee2e6 !important;
    padding: 16px !important;
}
.p-dialog .p-dialog-footer {
    button:last-child {
        margin: 0px !important;
    }
}
.p-dialog .p-dialog-header {
    background: #ffffff;
    box-shadow: 0px 1px 0px #dbdcdf !important;
    border-bottom: 2px #dbdcdf solid;
}
.custom-dialog-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #707070;
}

.p-radiobutton .p-radiobutton-box {
    border-color: 1px #707070 solid !important;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: #e8442d !important;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
    background: #e8442d !important;
    border: 1px #e8442d solid !important;
    box-shadow: none !important;
    outline: none !important;
}

.p-radiobutton-icon {
    position: relative;
    &::after {
        position: absolute;
        width: 6px;
        height: 6px;
        content: "";
        border-radius: 100%;
        background: #e8442d;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
// .dropdown-menu {
//     display: block;
// }

.__custom_dropdown:hover {
    .dropdown-menu {
        display: block;
    }
}
.p-dialog {
    border: 2px #dbdcdf solid;
    // box-shadow: -1px 0px 0px #DBDCDF;
}
.p-dialog .p-dialog-content {
    padding: 15px;
}
.msgError {
    font-size: 12px;
}

.p-toast.p-component {
    z-index: 999999 !important;
}

.p-calendar {
    height: 30px !important;
}
.custom-file-upload {
    p-fileupload.p-element {
        width: 100%;
        position: relative;
        height: 209px;
        background: white;
        border: 1px #d1d1d1 dashed !important;
    }
    .p-fileupload .p-fileupload-buttonbar .p-button {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        opacity: 0;
    }
    .p-fileupload .p-fileupload-content {
        background: white;
        border: 0px;
        display: none;
    }
    .p-fileupload-buttonbar {
        background: white !important;
        border: 0px !important;
    }
}

.hidden {
    display: none;
}
