<div class="form_wrapper">
  <!-- {{submittalsTpl|json}} -->
  <div class="form-group" *ngFor="let item of submittalsTpl;let i = index">
    <app-submittals-sections [submittal]=item itmindex={{i}} (removeFn)="removePdfOption($event)"
      totalSubmittals={{submittalsTpl.length-1}} (uploadSubmittalsCallback)="uploadSubmittalsCallbackHandler($event)"
      (toggleCallback)="toggleCallbackHandler($event)" (selectedActionCallback)="selectedActionCallbackAction($event)">
    </app-submittals-sections>
  </div>
  <div class="__more">
    <span class="__add">
      <button class="btn __btn __gray" (click)="addMoreOption()">
        + Add more
      </button>
    </span>
  </div>
  <div class="action_wrapper form-group">
    <button class="btn __btn __theme" (click)="handleMergePdp()" [routerLink]="['/submittals/merge/123']">Merge</button>
    <button class="btn __btn __default" [routerLink]="['/submittals/preview/123']">Preview</button>
    <button class="btn __btn __default" [routerLink]="['/submittals/list']">Cancel</button>
  </div>
</div>