<div #spacer></div>
<div stickyThing [spacer]="spacer">
  <div class="container save_other">
    <div class="__title pointer" [routerLink]="['/submittals/list']">
        <span [innerHTML]="icon['BACK_ICON']" class="inherit"></span>
        &nbsp;
      {{title}}
    </div>
    <div class="action_wrapper form-group">
      <button class="btn __btn __default min_width_100" (click)="handleMergePdp(true)">Save As Draft</button>
      <button class="btn __btn __theme min_width_100" (click)="handleMergePdp(false)">Merge</button>
      <button class="btn __btn __default min_width_100" [routerLink]="['/submittals/list']">Cancel</button>
    </div>
  </div>
</div>
<div class="container">
  <div class="steps_wrapper">
    <app-submittals-stepper [activeStep]="2"></app-submittals-stepper>
  </div>
  <div class="form_wrapper">
    <div class="form-group" *ngFor="let item of submittalsTpl;let i = index">
      <app-submittals-sections [openIndex]=openIndex [id]=id [submittal]=item itmindex={{i}}
        (removeFn)="removePdfOption($event)" totalSubmittals={{submittalsTpl.length-1}}
        (uploadSubmittalsCallback)="uploadSubmittalsCallbackHandler($event)"
        (toggleCallback)="toggleCallbackHandler($event)"
        (selectedActionCallback)="selectedActionCallbackAction($event)">
      </app-submittals-sections>
    </div>
    <div class="__more">
      <span class="__add">
        <button class="btn __btn __gray" (click)="addMoreOption()">
          + Add more
        </button>
      </span>
    </div>
  </div>
  <p-toast position="top-center" key="detailFormToast"></p-toast>
</div>